# İBB Spor Bilgileri
TC_KIMLIK=your_tc_kimlik
SIFRE=your_password

# Telegram Bot Bilgileri
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Browser Ayarları
HEADLESS=true 